 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, 
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*issue - resize background image*/
body {	
	line-height: 1;
	background-image: url(../img/white-waves.png);	
	background-origin: border-box;
	background-size: auto;

}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;	
}

/********************************************
	Target Screen size is Desktop (960px)
*********************************************/

.header, .main, .footer {
	width:100%;
}

.header {
	max-width: 960px;	
 	margin: auto;
 	background: #7cc576;
  	padding: 10px;
  	font-family: "Noto Serif";
  	font-style: normal; 
  	font-size: auto;
  	
}

.header-logo {
	float: left;	
	margin-left: 40px;
	margin-right: 40px;
	display: inline;
	/*background-color: green;*/
}


.header-title {		
	float: left;
	margin-top: 20px;		
	/*background-color: yellow;*/
	
}

.header-nav{	
	box-sizing: border-box;		
	width: 100%;
	display: inline-block;
	/*background-color: purple;*/		
}

nav ul {
  	display: flex;
}

.header-nav nav li{	
    margin: auto;	
	padding: 1em 2em 1em;
	text-align: center;	
	border-radius: 8px;	
	background-color: #6dcff6;
	
}

/*end of header*/
/*
p{
	float: left;
	margin: 5px;
	padding:5px;
	box-sizing: border-box
}
.desktop-nav {
	float: right;
	width: calc(100% - 100px);	
	max-width: 960px;
}

.desktop-nav ul {
	width:100%;
}

.desktop-nav {
	box-sizing: border-box;
	width: 100%;
	float: left;
	background: #6dcff6;
}
*/
/*
.main-nav li{	
	background: #6dcff6;
	float: left;
	width: 10px;
	padding: 1em;
	margin: 10px;
	text-align: center;
		
	box-sizing: border-box;
}

.mobile-nav {
	width:100%;
	clear: both;
}

.mobile-nav-container {
	position: relative;
	clear: both;
}

.mobile-nav li {
	display: inline-block;
	box-sizing: border-box;
	/*width:30%;
	width: 70px;
	padding: 1em;
	background: #6dcff6;
	text-align: center;
	border-bottom: 2px solid #121212;

}*/


/*main content styles*/
.main{
	max-width: 960px;	
 	margin: auto;
 	background-image: url("/img/white-waves.png");
 	padding: 10px;	
 	font-family: "Source Sans Pro";
  	font-style: normal; 
  	font-size: 16px; 	  	
 	/*background-color: gray;*/
}

.first-content-title{
	float: left;
	width: 100%;
	padding-left: 10px;
}

.first-content {	
	padding: 0px 10px;
	float: left;
	margin-right: 20px;
	display: inline;
	width: 60%;
	box-sizing: border-box;
	/*background-color: yellow;*/

}

.sidebar {		
	float: right;
	width: 35%;
	border-radius: 0%;			
	/*background-color: purple;*/
	
}

/*issue: square the image and fluid*/
.sidebar-img {
	object-fit: cover;
	text-align: center;
	margin: auto;
	background-color: gray;	
	
}

.second-content {	
	float: left;
	padding: 0px 10px 0px 10px;	
	width:100%;
	box-sizing: border-box;
	display: inline-block;
	
}

.img-galary{
	width: 100%;
	text-align: center;	
	margin: auto;
	/*display: flex;
	background-color: yellow;*/
	
}

.column {
  float: left;
  width: 33.33%; 
 
 /* flex: 33.33%;
  border-radius: 0%;
  border-color: blue;*/

}

/* Clear floats after image containers */
.img-galary::after {
  content: "";
  clear: both;
  display: table;
}

/*
.img-galary ul {
  margin-right: 5%;
  margin-left: 5%;
  width: 100%;
  text-align: center;
}

.img-galary li {
  float: left;
  list-style: none;
  display: inline-block;
}

.img-galary img {
  padding: 10px 40px;
  background-color: yellow;
}
/*issue: square the image
div figure img{		
	text-align: center;
	width: 100%;
	height: auto;
	margin: 20px;
	background-color: gray;	
	
}*/

/*footer styles*/
.footer {	
	background: #7cc576;
	padding: 10px;
	max-width: 960px;	
 	margin: auto;
 	margin-top: 0;
 	
}

.footer-copyright{
	float: left;
	width: 50%;
	
	margin: 20px 0 10px 0;
	padding: 20px 5px 20px;	
	/*background-color: brown;*/

}

.footer-social-links {
	float: right;
	margin: 10px 0 10px 0;
	display: inline;	
	/*background-color: purple;*/
}

.footer-social-links ul li{
	
    padding: 20px 5px 20px; 
	/*background-color: red;*/
	
}

/*This media targets mobile, tablet, and width less than 960px*/
@media only screen and (max-width: 960px) {
	
	/*header styles*/

	/*the following css is used to restrict the content beyond 1280px*/
	/*This is to make sure the main content is in the readbable area for large screen sizes*/
	header, main, footer {
		max-width: 1280px;				
		margin:0 auto;

	}

	.header, .main, .footer {
		width:100%;
	}

	.header-logo {
		margin-right: 0;
		display: inline;
		/*background-color: green;*/
	}


	.header-nav nav li{		    
		padding: 10px;
		
	}

	.first-content {
		width: 100%;
	}

	.sidebar {		
		float: left;
		width: 100%;
	
	}

	
}

/*This media targets screen larger than 960px*/
@media only screen and (min-width: 960px) {
	
	/*header styles*/

	/*the following css is used to restrict the content beyond 1280px*/
	/*This is to make sure the main content is in the readbable area for large screen sizes*/
	header, main, footer {
		max-width: 1280px;				
		margin:0 auto;

	}

	
	
}





