 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, 
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;
	font: inherit;*/
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*issue - resize background image*/
body {	
	line-height: 1;

}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;	
}

/********************************************
	Target Screen size is Desktop (960px)
*********************************************/

.header-container, .main-container, .footer-container {
	width:100%;	
	max-width: 960px;
	margin: 0 auto;
}

/*header styles*/
.header-container { 	
 	background: #7cc576;
  	padding: 10px;
  	font-family: 'abhaya_libreregular', sans-serif;
  	font-size: auto;  	
}

.header-logo {
	float: left;	
	margin-left: 40px;
	margin-right: 40px;
	display: inline;
}

.header-title {		
	float: left;
	margin-top: 20px;		
}

.header-nav {	
	box-sizing: border-box;		
	width: 100%;
	display: inline-block;	
}

nav ul {
  	display: flex;
}

.header-nav nav li{	
    margin: 0 auto;	
	padding: 1em 2em;
	text-align: center;	
	border-radius: 8px;	
	background-color: #6dcff6;	
}
/*end of header styles*/

/*main content styles*/
.main-container {
 	background-image: url("/img/white-waves.png");
 	padding: 10px;	
 	font-family: 'advent_proregular', sans-serif;  	
  	font-size: 15px; 	  	 	
 	background-image: url(../img/main-bg.png);
}

.main-content-title {
	float: left;
	width: 100%;
	padding-left: 10px;
}

.main-content-detail {	
	padding: 0px 10px;
	float: left;
	margin-right: 20px;
	display: inline;
	width: 60%;
	box-sizing: border-box;
}

.sidebar {		
	float: right;
	width: 35%;
	border-radius: 0%;
	margin-bottom: 0px;	
}

.second-content {	
	float: left;
	padding: 0px 10px;	
	width:100%;
	box-sizing: border-box;
	display: inline-block;	
}

.galary-container {	
	text-align: center;		
}

.galary-img {  
 	float: left;
 	display: inline-block;	 
 	width: 33.33%;
}

img {
	max-width: 100%;
	height: auto;
}

.galary-container::after {
  content: "";
  clear: both;
  display: table;
}
/*end of main content styles*/

/*footer styles*/
.footer-container {	
	background: #7cc576;
	padding: 10px; 	
 	margin-top: 0;
 	font-family: 'abhaya_libreregular', sans-serif;
 	font-size: 15px;  	
}

.footer-copyright {
	float: left;
	width: 50%;	
	margin: 20px 0px 10px;
	padding: 20px 5px 20px;	
}

.footer-social-links {
	float: right;
	margin: 10px 0 10px;
	display: inline;
}

.footer-social-links ul li {	
    padding: 20px 5px 20px; 	
}
/*end of footer styles*/

/*This media targets mobiles, tablets, and devices with screen width less than 960px*/

@media only screen and (max-width: 960px) {	

	.header-logo {
		margin-left: 0px;
		margin-right: 0px;
	}	

	.header-nav nav li {		    
		padding: 10px 20px;		
	}

	.main-content-detail {
		padding-bottom: 10px;
		width: 100%;
	}

	.sidebar {
		float: left;		
		margin-top: 10px;
		width: 100%;
		padding-left: 10px;
	}	

	.galary-img {
	 	margin-left: 10px;
	  	width: 30%; 
	}
}


/*This media targets devices with screen larger than 960px*/
@media only screen and (min-width: 960px) {

	header, main, footer {
		max-width: 1280px;	
	}
}





