 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {	
	line-height: 1;

}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*CSS clearfix*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;	
}

/********************************************
	Target Screen size is Desktop (960px)
*********************************************/

.header-container, .main-container, .footer-container {
	width:100%;	
	max-width: 960px;
	margin: 0 auto;
}

h1, h2, h3 {
	margin: 20px 0px;
	font-weight: bold;
}

/*header styles*/
.header-container { 	
 	background-color: #7cc576;
  	padding: 10px;
  	font-family: 'abhaya_libreregular', sans-serif;	  	
}

.header-logo {
	float: left;	
	margin-left: 40px;
	margin-right: 40px;
}

.header-title {
	float: left;
	margin-top: 10px;
}

h1 {
	font-size: 2em;
}

.header-nav {		
	width: 100%;
	display: inline-block;	
}

nav ul {
  	display: flex;
}

.header-nav nav li {	
    margin: 0 auto;	
	padding: 1em 2em;
	text-align: center;	
	border-radius: 8px;	
	background-color: #6dcff6;	
}
/*end of header styles*/

/*main content styles*/
.main-container {
 	background-image: url(../img/main-bg.png);
 	padding: 10px;		
 	font-family: 'advent_proregular', sans-serif;   	 	 	
}

.main-content-title {
	float: left;
	width: 100%;
	padding-left: 10px;
}

h2 {
	font-size: 1.5em;
}

.main-content-detail {	
	padding: 0px 10px;
	float: left;
	margin-right: 20px;	
	width: 60%;
}

main p, figcaption {	
  	font-size: 16px; 
}

.sidebar {		
	float: right;
	width: 35%;
	border-radius: 0%;
	margin-bottom: 0px;	
}

h3 {
	font-size: 1.17em;
}

.second-content {	
	float: left;
	padding: 0px 10px;	
	width:100%;	
}

.galary-container {	
	text-align: center;		
}

.galary-img {  
 	float: left; 
 	width: 33.33%;
}

img {
	max-width: 100%;
	height: auto;
}

/*end of main content styles*/

/*footer styles*/
.footer-container {	
	background-color: #7cc576;
	padding: 10px; 	
 	margin-top: 0;
 	font-family: 'abhaya_libreregular', sans-serif;	 		
}

.footer-copyright {
	float: left;
	width: 50%;	
	margin: 30px 0px 20px;
	padding: 20px 5px 20px;
 	font-size: 15px;
}

.footer-social-links {
	float: right;
	margin: 10px 0 10px;
}

.footer-social-links ul li {	
    padding: 20px 5px; 	
}
/*end of footer styles*/

/*This media targets tablets, and devices with screen width less than 768px*/
@media only screen and (min-width: 480px) and (max-width: 768px) {	

	.header-logo {
		margin-left: 0px;
		margin-right: 10px;
	}

	.header-nav nav li {		    
		padding: 10px 20px;			
	}

	.main-content-detail {
		padding-bottom: 10px;
	}

	.sidebar {
		float: left;		
		margin-top: 10px;
		padding-left: 10px;
	}	

	.galary-img {
	 	margin-left: 10px;
	  	width: 30%; 
	}
	
}

/*This media targets mobile phones or devices with screen less than 480px*/
@media only screen and (max-width: 480px) {

	.header-logo {
		margin-left: 0px;
		margin-right: 0px;
	}

	.header-nav nav ul {
  		display: inline-block;
	}

	.header-nav nav li {		    
		padding: 10px 20px;	
		margin: 5px;		
	}

	.main-content-detail {
		padding-bottom: 10px;
		width: 100%;
	}

	.sidebar {
		float: left;		
		margin-top: 10px;
		width: 100%;
		padding-left: 10px;
	}	

	.galary-img {	 	
	  	width: 100%;
	  	padding-bottom: 10px;
	}

	.footer-copyright {
		width: 100%;
		margin: 0px;
	}

	.footer-social-links {
		float: left;
		margin: 0px;
		padding: 0px;
	}
}

/*This media targets devices with screen larger than 960px*/
@media only screen and (min-width: 960px) {

	header, main, footer {
		max-width: 1280px;	
	}
}

